
<div class="footer-content">
  <p>Universidad de Guanajuato</p>
  <p>José Javier Gasca Jiménez</p>
  <p>jj.gascajimenez&#64;ugto.mx</p>
  <div class="social-icons">
    <a href="https://github.com/JoseJavierGJ" class="social-icon">
      <img src="assets/images/github.png" alt="GitHub" style="height: 24px; width: 24px;  padding: 8px;"/>
    </a>
    <a href="https://drive.google.com/file/d/1CDJ_mqjKGf9hm5MzFrUaw_PhCWDxlPhA/view" target="_blank">
      <img src="assets/images/cv.png" alt="Ver CV" style="height: 24px; width: 24px; padding: 8px;"/>
    </a>
    <a href="https://www.linkedin.com/in/josejaviergj/">
    <img src="assets/images/linkedin.png" alt="GitHub" style="height: 24px; width: 24px;  padding: 8px;"/>
    </a>
  </div>
</div>