<style>
  
</style>

<main class="main">
  <div class="content">

    <mat-grid-list cols="1" rowHeight="120px">



      <mat-grid-tile rowspan="1"  class="fondo-pokeball" [style.background]="'#a2caa5'" >
        <app-header></app-header>
      </mat-grid-tile>
    
    
    
      <mat-grid-tile rowspan="5">
        <app-body></app-body>
        <router-outlet>
        </router-outlet>
      </mat-grid-tile>
    
    
    
      <mat-grid-tile rowspan="1" [style.background]="'#f5e2b8'">
        <app-footer></app-footer>
      </mat-grid-tile>
      
    </mat-grid-list>

  </div>
</main>



