
.page-container {
  min-height: 100%; 
  position: relative; 
  padding: 20px; 
}

.demo-table {
  max-height: 400px; 
  overflow-y: auto; 
}

.demo-button-container {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  /* margin-bottom: 10px; */
}

.table-container {
  max-height: 410px;  
  overflow-y: auto; 
  margin-bottom: 12px;
}


.demo-button {
  margin-left: auto; 
}


.cargando {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 10000;
  text-align: center;
  position:absolute;
  background-color: #FFFFFF;
  opacity:0.6;
  filter:alpha(opacity=40);
}

.input-container {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 0px;
  align-items: center;
}

.input-container > * {
  flex: 1; 
  margin-right: 10px; 
}

.input-container > *:last-child {
  margin-right: 0;
}

.mat-form-field {
  height: 56px; 
}

.add-button {
  background-color: #FFCB05; 
  color: black; 
  border: none; 
  transition: all 0.3s ease; 
  position: relative; 
  overflow: hidden;
}

.add-button:hover {
  background-color: #E7A00E;
  color: rgb(255, 255, 255); 
}

