<div class="header-container">
  <!-- Imagen del logo a la izquierda -->
  <div class="logo-container">
    <img src="assets/images/poke-logo.png" alt="Pokémon Logo" style="height: 66px; width: 200px;"/>
  </div>

  <div style="padding: 120px;"></div>
  
  <!-- Título en el centro -->
  <div class="title-container">
    <h1 class="titulo">Proyecto final</h1>
    <img src="assets/images/pokebola.png" alt="Pokeball" class="title-image"/>
  </div>
  
  <div style="padding: 170px;"></div>

<!-- Botón de logout a la derecha -->
  <div class="logout-container">
    <button (click)="goBack()" class="button">
      <img src="assets/images/back.png" alt="Pokeball" style="height: 40px; width: 40px;"/>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
